* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    -webkit-box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 2rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-size: 1.4rem;
    font-weight: 400;
    font-family: $primary-font;
    background-color: $backgroud-color;
    color: $text-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    list-style: none;
}

:focus-visible {
    outline: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    &:disabled,
    &[disabled],
    &:disabled {
        cursor: default;
    }
}

.icon {
    margin: 0 2.6px;
    cursor: pointer;
}

.price {
    color: $primary-color;
}

.error {
    color: $error-color;
}
