@import "../../assets/scss/common";

.products-list-slider {
    &__title {
        padding-top: 1rem;
        margin-bottom: 1.5rem;
        font-size: 1.8rem;
        font-weight: 200;
        color: $text-color;
        text-transform: uppercase;
    }

    &__no-product {
        padding: 2rem 0;
        text-align: center;
        color: $text-color;
    }
}
