@import "../../assets/scss/common";

.quantity-controller {
    display: flex;
    align-items: center;

    &__btn {
        @include borderRadius(0.2rem);
        width: 3.2rem;
        height: 3.2rem;
        background-color: transparent;
        border: 0.1rem solid rgba($black, 0.1);

        &[disabled] {
            border-radius: rgba($black, 0.1);
            color: rgba($black, 0.1);

            svg {
                fill: rgba($black, 0.1);
            }
        }

        svg {
            width: 1rem;
            height: 1rem;
            fill: $light-text-color;
        }
    }

    &__input {
        padding: 0.1rem 0.2rem;
        width: 5rem;
        height: 3.2rem;
        border: 0.1rem solid rgba($black, 0.1);
        text-align: center;
        font-size: 1.6rem;
        font-weight: 400;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &[disable] {
            border-color: rgba($black, 0.1);
            color: rgba($black, 0.1);
        }
    }
}
